.about_us {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;

}

/* .o_nama {
    margin-left: 40px;
} */

/* .about_us_content {
    border: 1px solid black;
    border-radius: 10px;
} */

.about_us_title {
    color: #F90;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.about_us_paragraph {
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: large;
    word-spacing: 4px
}