{%load static%}
<div class="navs-wrapper">

    <nav class="nav-primary">
        <a href="#"><img class="logo" src="{% static 'images\logo.jpg' %}" alt="Tesla Ways logo"></a>
        <div class="main-menu">
            <ul class="pages">
                <li><a href="{% url 'main_page' %}">Početna</a></li>
                <li><a href="#">O projektu</a></li>
                <li><a href="#">O nama</a></li>
                <li><a href="{% url 'news_page' %}">Novosti i zanimljivosti</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <button class="hamburger"><i class="fa-solid fa-bars"></i></button>
        </div>
        <img class="tesla-img" src="{% static 'images\NikolaTesla.png' %}" alt="Nikola Tesla">
    </nav>

    {% comment %} {% include "regioni.html" %} {% endcomment %}
    {% include "navbar_secondary.html" %}

</div>
