{%load static%}
<div class="navs-wrapper">

    <nav class="nav-primary">
        <a href="#"><img class="logo" src="{% static 'images\logo.jpg' %}" alt="Tesla Ways logo"></a>
        <div class="main-menu">
            <ul class="pages">
                <li><a href="{% url 'main_page' %}">Početna</a></li>
                <li><a href="#">O projektu</a></li>
                <li><a href="#">O nama</a></li>
                <li><a href="{% url 'news_page' %}">Novosti i zanimljivosti</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <button class="hamburger"><i class="fa-solid fa-bars"></i></button>
        </div>
        <img class="tesla-img" src="{% static 'images\NikolaTesla.png' %}" alt="Nikola Tesla">
    </nav>

    <nav class="nav-secondary">
        <h1>Srbija</h1>
        <ul class="sec-menu">
            <li class="city"><i class="fa-solid fa-angle-right"></i>Beograd</li>
            <ul>
                <li><a href="#">Šta posetiti</a></li>
                <li><a href="#">Gde jesti</a></li>
                <li><a href="#">Gde spavati</a></li>
            </ul>
            <li class="city"><i class="fa-solid fa-angle-right"></i>Zapadna Srbija</li>
            <ul>
                <li><a href="#">Šta posetiti</a></li>
                <li><a href="#">Gde jesti</a></li>
                <li><a href="#">Gde spavati</a></li>
            </ul>
            <li class="city"><i class="fa-solid fa-angle-right"></i>Istočna Srbija</li>
            <ul>
                <li><a href="#">Šta posetiti</a></li>
                <li><a href="#">Gde jesti</a></li>
                <li><a href="#">Gde spavati</a></li>
            </ul>
            <li class="city"><i class="fa-solid fa-angle-right"></i>Vojvodina</li>
            <ul>
                <li><a href="#">Šta posetiti</a></li>
                <li><a href="#">Gde jesti</a></li>
                <li><a href="#">Gde spavati</a></li>
            </ul>
        </ul>
        <div class="nav-info">
            <button class="newsletter-button">Prijavi se na Newsletter</button>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <p>Tesla Ways&copy; 2022</p>
        </div>
    </nav>



</div>