<nav class="nav-secondary">
    <h1>Srbija</h1>

        {% for ime in all_regions %}
        <h1>{{ ime }}</h1>
        <ul class="sec-menu">
            <li class="city"><i class="fa-solid fa-angle-right"></i>{{ ime.region_name }}</li>
            <ul>
                <li><a href="#">Šta posetiti</a></li>
                <li><a href="#">Gde jesti</a></li>
                <li><a href="#">Gde spavati</a></li>
            </ul>
        </ul>
    {% endfor %}

    

    <ul class="sec-menu">
        <li class="city"><i class="fa-solid fa-angle-right"></i>Beograd</li>
        <ul>
            <li><a href="#">Šta posetiti</a></li>
            <li><a href="#">Gde jesti</a></li>
            <li><a href="#">Gde spavati</a></li>
        </ul>
        <li class="city"><i class="fa-solid fa-angle-right"></i>Zapadna Srbija</li>
        <ul>
            <li><a href="#">Šta posetiti</a></li>
            <li><a href="#">Gde jesti</a></li>
            <li><a href="#">Gde spavati</a></li>
        </ul>
        <li class="city"><i class="fa-solid fa-angle-right"></i>Istočna Srbija</li>
        <ul>
            <li><a href="#">Šta posetiti</a></li>
            <li><a href="#">Gde jesti</a></li>
            <li><a href="#">Gde spavati</a></li>
        </ul>
        <li class="city"><i class="fa-solid fa-angle-right"></i>Vojvodina</li>
        <ul>
            <li><a href="#">Šta posetiti</a></li>
            <li><a href="#">Gde jesti</a></li>
            <li><a href="#">Gde spavati</a></li>
        </ul>
    </ul>
    <div class="nav-info">
        <button class="newsletter-button">Prijavi se na Newsletter</button>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <p>Tesla Ways&copy; 2022</p>
    </div>
</nav>

