{% extends "main.html" %}
{% load static %}

{% block title %} Novosti {% endblock title %}


{% block content %}
    <div class="main-content">
        {% include 'slider.html' %}
        <h2>NOVOSTI</h2>
    {% for news in all_news %}
        <div class="each-news">
            <a href="{% url 'single_news' news.id %}"><img src="{{ news.news_image.url }}" alt="News photo"></a>
            <div>
                <p class="novosti-date">{{ news.date_created|date:"j. m. Y" }}</p>
                <h3 class="novosti-title"><a href="{% url 'single_news' news.id %}">{{ news.title }}</a></h3>
                <p class="each_paragraph"><i>{{ news.content|truncatewords:13 }}</i></p>
                <a  href="{% url 'single_news' news.id %}" class="ceo-tekst">Ceo tekst</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}

