{% extends "main.html" %}
{% load static %}

{% block title %} Novosti {% endblock title %}

{% block content %}
    <div class="main-content">
    {% for news in all_news %}
        <div class="each-news">
            <p style="text-align: right;">{{ news.date_created }}</p>
            <h2><a href="{% url 'single_news' news.id %}">{{ news.title }}</a></h2>
            <p class="each_paragraph">{{ news.content|truncatewords:25 }}<a href="{% url 'single_news' news.id %}"> procitajte ceo tekst</a></p>
            <a href="{% url 'single_news' news.id %}"><img src="{{ news.news_image.url }}" alt="News photod"></a>
        </div>
    {% endfor %}
    </div>
{% endblock content %}

