{% extends "main.html" %}
{% load static %}

{% block title %} O nama {% endblock title %}
{% block cssFiles %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock cssFiles %}






{% block content %}
<div class="main-content">
    {% include 'slider.html' %}
    <br>
    <h2>O NAMA</h2>
    <hr>
    <br>



    {% for data in info_data %}

    <div class="about_us">
        <!-- <h1 class="o_nama">O nama</h1> -->
        <div class="about_us_content">
            <h2 class="about_us_title">{{ data.title }}</h2>
            <p class="about_us_paragraph">{{ data.content }}</p>
        </div>
        <img src="{{ data.image_one.url }}" width=200px  alt="Not found">
        <img src="{{ data.image_two.url }}" width=200px  alt="Not found">
    </div>


    
    
    {% endfor %}
<div>
{% endblock content %}