{% extends "main.html" %}
{% load static %}

{% block title %}
<h2>Pocetna strana</h2>
{% endblock title %}

{% block content %}
    

    <main class="main-content">
        <div class="container-slider">
            <div class="slides">
                <img src="#" alt="Mapa Beograda">
                <img src="#" alt="Mapa Srbije">
            </div>
            <div class="bullets">
                <div class="bullet"></div>
                <div class="bullet"></div>
            </div>
        </div>
    </main>


{% endblock content %}