{% extends "main.html" %}
{% load static %}

{% block title %}
POCETNA
{% endblock title %}

{% block content %}


    <main class="main-content">
        <div class="container-slider">
            <div class="slides">
                <img src="{% static '' %}" alt="Mapa Beograda">
                <img src="{% static '' %}" alt="Mapa Srbije">
            </div>
            <div class="bullets">
                <div class="bullet"></div>
                <div class="bullet"></div>
            </div>
        </div>
    </main>
{% endblock content %}