
<nav class="nav-secondary">
    <h1>Srbija</h1>

    <!-- <ul class="sec-menu">
        {% for region in all_region %}
        <li class="city"><i class="fa-solid fa-angle-right"></i>{{ region.region_name }}</li>
        <ul>
            <li><a href="#">Šta posetiti</a></li>
            <li><a href="#">Gde jesti</a></li>
            <li><a href="#">Gde spavati</a></li>
        </ul>
        {% endfor %}
    </ul> -->

    </ul>
    <div class="nav-info">
        <button class="newsletter-button">Prijavi se na Newsletter</button>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <p>Tesla Ways&copy; 2022</p>
    </div>
</nav>