{% load static %}
<div>
    <div class="slider-container" id="first">
        <div class="slides">
            <img src="{% static 'images\Beograd.jpg' %}" class="slides-img" alt="Mapa Beograda">
            <img src="{% static 'images\Srbija.jpg' %}" class="slides-img" alt="Mapa Srbije">
        </div>

        <button class="btn-slide prev"><i class="fa-solid fa-angle-left fa-xl" style="color: white;"></i></button>
        <button class="btn-slide next"><i class="fa-solid fa-angle-right fa-xl" style="color: white;"></i></button>

    </div>
    <div class="bullets">
        <div class="bullet" data-number="1"></div>
        <div class="bullet" data-number="2"></div>
    </div>
</div>